/* Стиль для body */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

/* Стиль для карты */
#map {
    flex-grow: 1; /* Карта займет все доступное пространство */
    width: 100%;
    height: calc(100vh - 120px); /* Высота карты, минус высота header и footer */
}
